<h2>Word Review</h2>
<div>
  <p>Current word: <strong>{{ currentWord }}</strong></p>
  <p>All words: <strong>{{ allWordsToProcess }}</strong></p>
  <p>Total: <strong>{{ totalWordsToProcess }}</strong></p>
</div>
<div *ngIf="currentWord.includes('c') && !currentWord.includes('ch')">
  <p>Does the "c" in {{ currentWord }} sound like "s" or "k"</p>
  <button (click)="replaceCWithS()">"s"</button>
  <button (click)="replaceCWithK()">"k"</button>
</div>
<div *ngIf="currentWord.includes('ch')">
  <p>Does the "ch" in {{ currentWord }} sound like "tiy" or "k"?</p>
  <button (click)="replaceChWithTiy()">"tiy"</button>
  <button (click)="replaceChWithK()">"k"</button>
</div>
<div>
  <button (click)="next()">Next</button>
  <button (click)="finish()">Finish</button>
</div>