.baybayin-header {                     /* Houses styles for baybayin headers */
  font-family: 'Baybayin', sans-serif; /* Sets the font within the Baybayin header to Baybayin font with a fall back font of sans-serif */
  font-size: 50px;                     /* Sets the font size within the baybayin-header to 50px */
  font-weight: bold;                   /* Sets the font to bold */                /* Ensures the baybayin header is below the page header by adding 100px of padding above */
}

.baybayin-output {                     /* Houses styles for baybayin transliterated text output */
  font-family: 'Baybayin', sans-serif; /* Sets the font within the Baybayin-output to Baybayin font with a fall back font of sans-serif */
  font-size: 20px;                     /* Sets the font size of the baybayin-output to 20px */
  border: 2px solid #000;            /* Creates the box around the output setting the thickness, the type of line, and the line color */
  padding-left: 15px;                  /* Adds padding inside the left side of the box */
  width: 100%;                         /* Extends the box to the full width of the screen */
  box-sizing: border-box;              /* Ensures padding is included within the width */
  margin-top: 20px;                    /* Adds spacing above the box between the box and the tranliterated text header */
  min-height: 100px;                   /* Ensures there's some initial height, adjusts as text grows */
  background-color: #f9f9f9;         /* Adds a background color inside of box */
}

.transliteration-input {                     /* Houses styles for baybayin transliterated text output */ /* Sets the font within the Baybayin-output to Baybayin font with a fall back font of sans-serif */
  font-size: 20px;                     /* Sets the font size of the baybayin-output to 20px */
  border: 2px solid #000;            /* Creates the box around the output setting the thickness, the type of line, and the line color */
  padding-left: 15px;                  /* Adds padding inside the left side of the box */
  width: 100%;                         /* Extends the box to the full width of the screen */
  box-sizing: border-box;              /* Ensures padding is included within the width */
  margin-top: 20px;                    /* Adds spacing above the box between the box and the tranliterated text header */
  min-height: 100px;                   /* Ensures there's some initial height, adjusts as text grows */
  background-color: #f9f9f9;         /* Adds a background color inside of box */
}

.transliterated-header {              /* Houses styles for header to the transliterated output */
  display: flex;                      /* Turns the display into a flexbox (allows for flexible layouts) */ 
  align-items: center;                /* Centers items vertically */
  gap: 10px;                          /* Adds space between the items */
}

.btn {                                /* Houses styles for the btn class */
  margin-left: 10px;                  /* Space between h2 and buttons */
}
