<!DOCTYPE html>
<html lang="en">
<head>
    <title>Baybayin Example</title>
</head>
<body>

    <!-- Header written in Baybayin script -->
    <h1 class="baybayin-header">by+byin+</h1>

    <!-- Description of what Baybayin is (housed in a different template) -->
    <app-baybayin-description></app-baybayin-description>

    <app-how-to-read></app-how-to-read>

    <!-- Sub-header written in Roman script -->
    <h2 class="sub-header">Baybayin Transliterator</h2>
    <!-- Input box label prompting user to use input box -->
    <label for="userInput">Type or paste something to transliterate: </label>
    <!-- Input box for user to insert text to be transliterated -->
    <textarea
        class="transliteration-input"
        id="userInput"
        [(ngModel)]="userInput"
    ></textarea>


    <!-- Submit button that triggers word review dialog -->
    <button class="btn" (click)="onSubmit()">Submit</button>

    <!-- Show the processed text in Baybayin and give user options to dowload output -->
    <div class="baybayin-output-section">
        <!-- The transliterated header houses the header text and buttons to copy/download transliterated text -->
        <div class="transliterated-header">
            <!-- Header above transliterated text box-->
            <label>Transliterated text:</label>
    


        </div>
        <!-- Displays the transliterated text in Baybayin script -->
        <p class="baybayin-output">{{ this.processedText }}</p>
                    
        <!-- Copy Text button -->
        <button class="btn" (click)="copyToClipboard()">Copy</button>
        
        <!-- Download dropdown button' -->
        <div class="dropdown">
            <button class="btn">Download</button>
            <div class="dropdown-content">
                <a (click)="generateWordDocument()">Word</a>
                <a (click)="generateTextFile()">Text</a>
                <a (click)="generateExcelFile()">Excel</a>
            </div>
        </div>
    </div>

    <!-- Displays the transliterated text in Roman (this will be removed later) -->
    <!-- <div>
        <p>{{ this.processedText }}</p>
    </div> -->
</body>
</html>