<!-- A brief description and history of baybayin  -->
<h2 class="sub-header">What is Baybayin?</h2>

<p>
    Baybayin is an ancient writing script from the Philippines, used primarily before Spanish colonization. It was used by various ethnic groups in the Philippines, particularly the Tagalogs. The script was widely used in the 16th century but gradually declined due to the influence of the Latin alphabet introduced by the Spanish. However, there has been a resurgence of interest in Baybayin in recent years, with efforts to preserve and promote it as part of Filipino cultural heritage. Some people use it for art, tattoos, and even modern signage.
</p>

<p>Baybayin was primarily used before the arrival of the Spanish colonists in the Philippines in the 16th century. The script is written in a way that each character represents a syllable rather than a single letter. The basic characters in Baybayin are called "kudlit" or diacritical marks, which are added to consonant characters to represent different vowel sounds.</p>
    
<p>Baybayin was written on various materials such as bamboo, leaves, and tree bark. It was commonly used for important documents, correspondence, and inscriptions on religious artifacts. However, after the Spanish colonization, the use of Baybayin declined and was eventually replaced by the Latin alphabet.</p>