.container {
  display: flex;
  justify-content: flex-end; /* Aligns content to the left */
  align-items: center; /* Vertically centers the items */
  font-size: 24px;
  margin-bottom: 10px;
  padding: 0 8px 5px 8px;
  border-bottom: 2px solid #818285;
  z-index: 30;
}

  .right {
    display: flex;
    align-items: center;
    margin-right: 25px;
  }
  
  .right * {
    margin-left: 25px;
  }