<div class="site-header">
  <!-- Houses the logo on the left hand side of the header -->
  <div class="left">
    <img class="logo" src="/assets/images/Baybayin/Baybayin_Ba.png" alt="Logo" />
  </div>

  <div class="middle"> The Baybayin Project </div>

  <!-- Houses the menu button on the left hand side of the header -->
  <div class="right">
    <div class="dropdown">
      <button class="btn">Menu</button>

      <!-- The Menu button contains 2 dropdown options -->
      <div class="dropdown-content">
        <a href="/about" routerLinkActive="active">About</a>
        <a href="/shop" routerLinkActive="active">Shop</a>
      </div>
    </div>
  </div>
</div> 