<div class="container">
    <div class="left">
      <div class="nav-item-container">
        <a href="/baybayin" routerLinkActive="active" class="nav-item">
          <span class="baybayin-symbol">b</span>
          <span>Baybayin</span>
        </a>
        <a href="/deseret" routerLinkActive="active" class="nav-item">
          <span class="deseret-symbol">D</span>
          <span>Deseret</span>
        </a>
        <a href="/aurebesh" routerLinkActive="active" class="nav-item">
          <span class="aurebesh-symbol">A</span>
          <span>Aurebesh</span>
        </a>
      </div>
    </div>
  </div>
